<p-toolbar styleClass="!bg-transparent !border-none !shadow-none">
    <ng-template pTemplate="start">
        <span class="font-semibold text-xl text-white drop-shadow-lg">Bensam</span>
    </ng-template>

    <ng-template pTemplate="end">
        <p-button [text]="true" styleClass="!text-white hover:!bg-white/10">Buscar</p-button>
        <p-button [text]="true" styleClass="!text-white hover:!bg-white/10">Nosotros</p-button>
        <p-button [text]="true" styleClass="!text-white hover:!bg-white/10">Login</p-button>
        <!-- <p-button icon="pi pi-bell" [text]="true" styleClass="!text-white hover:!bg-white/10"></p-button>
        <p-button icon="pi pi-cog" [text]="true" styleClass="!text-white hover:!bg-white/10"></p-button> -->
        <p-button icon="pi pi-shopping-cart" [text]="true" styleClass="!text-white hover:!bg-white/10"></p-button>
    </ng-template>


</p-toolbar>